#Data Cleaning and Transformation Process

##Introduction

Welcome to the data cleaning phase of the analysis journey! In this crucial step, I'll focus on ensuring the dataset is in top-notch shape for analysis. Data cleaning involves handling missing values, standardizing formats, and addressing inconsistencies. A clean dataset is the foundation for accurate insights, making it a pivotal step in our quest to optimize sales strategies. Let's dive into the code and witness the magic of transforming raw data into a refined, analysis-ready format.

Now, here's the Python code for the data cleaning and transformation process:

## Prepare phase

In [62]:
import pandas as pd

In [63]:
# Load the dataset
file_path = r'C:\Users\raksh\OneDrive\Desktop\portfolio projects\Project#1 - Optimizing Sales Strategies\Sales Data.csv'
df = pd.read_csv(file_path)

In [64]:
# Display basic information about the dataset
print("Original Dataset Info:")
print(df.info())

Original Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 113036 non-null  object
 1   Day                  113036 non-null  int64
 2   Month                113036 non-null  object
 3   Year                 113036 non-null  int64
 4   Customer_Age         113036 non-null  int64
 5   Customer_Gender      113036 non-null  object
 6   Country              113036 non-null  object
 7   State                113036 non-null  object
 8   Product_Category     113036 non-null  object
 9   Sub_Category         113036 non-null  object
 10  Product              113036 non-null  object
 11  Order_Quantity       113036 non-null  int64
 12  Unit_Cost            113036 non-null  int64
 13  Cost                 113036 non-null  int64
 14  Unit_Price           113036 non-null  int64
 15  Total_Price          113036 non-null  int64
 16  Discount             113036 non-null  int64
 17  Discount Percentage  113036 non-null  float64
 18  Net Revenue          113036 non-null  int64
 19  Profit               113036 non-null  int64
dtypes: float64(1), int64(11), object(8)
memory usage: 17.2+ MB
None

In [65]:
# Step- 1 Standardizing Formats
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Convert 'Month' column to category
df['Month'] = df['Month'].astype('category')

In [66]:
# Convert 'Customer_Gender', 'Country', 'State', 'Product_Category', 'Sub_Category', 'Product' to category
categorical_columns = ['Customer_Gender', 'Country', 'State', 'Product_Category', 'Sub_Category', 'Product']
df[categorical_columns] = df[categorical_columns].astype('category')

In [67]:
print("Modified Dataset Info:")
print(df.info())

Modified Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 113036 non-null  datetime64[ns]
 1   Day                  113036 non-null  int64
 2   Month                113036 non-null  category
 3   Year                 113036 non-null  int64
 4   Customer_Age         113036 non-null  int64
 5   Customer_Gender      113036 non-null  category
 6   Country              113036 non-null  category
 7   State                113036 non-null  category
 8   Product_Category     113036 non-null  category
 9   Sub_Category         113036 non-null  category
 10  Product              113036 non-null  category
 11  Order_Quantity       113036 non-null  int64
 12  Unit_Cost            113036 non-null  int64
 13  Cost                 113036 non-null  int64
 14  Unit_Price           113036 non-null  int64
 15  Total_Price          113036 non-null  int64
 16  Discount             113036 non-null  int64
 17  Discount Percentage  113036 non-null  float64
 18  Net Revenue          113036 non-null  int64
 19  Profit               113036 non-null  int64
dtypes: category(7), datetime64[ns](1), float64(1), int64(11)
memory usage: 12.1 MB
None

In [68]:
df

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Cost,Unit_Price,Total_Price,Discount,Discount Percentage,Net Revenue,Profit
0,2020-11-26,26,November,2020,19,M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,360,120,960,10,0.01,950,590
1,2022-11-26,26,November,2022,19,M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,360,120,960,10,0.01,950,590
2,2021-03-23,23,March,2021,49,M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,1035,120,2760,359,0.13,2401,1366
3,2023-03-23,23,March,2023,49,M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,900,120,2400,312,0.13,2088,1188
4,2021-05-15,15,May,2021,47,F,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,180,120,480,62,0.13,418,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2023-04-12,12,April,2023,41,M,UNITED KINGDOM,England,Clothing,Vests,"Classic Vest, S",3,24,72,64,192,8,0.04,184,112
113032,2021-04-02,2,April,2021,18,M,AUSTRALIA,Queensland,Clothing,Vests,"Classic Vest, M",22,24,528,64,1408,225,0.16,1183,655
113033,2023-04-02,2,April,2023,18,M,AUSTRALIA,Queensland,Clothing,Vests,"Classic Vest, M",22,24,528,64,1408,225,0.16,1183,655
113034,2021-03-04,4,March,2021,37,F,FRANCE,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,576,64,1536,276,0.18,1260,684
113035,2023-03-04,4,March,2023,37,F,FRANCE,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,552,64,1472,265,0.18,1207,655

In [69]:
# Step 2 Handling Missing Values
# Check for missing values
missing_values = df.isnull().sum()
print("\nMissing Values:")
print(missing_values)

Missing Values:
Date                   0
Day                    0
Month                  0
Year                   0
Customer_Age           0
Customer_Gender        0
Country                0
State                  0
Product_Category       0
Sub_Category           0
Product                0
Order_Quantity         0
Unit_Cost              0
Cost                   0
Unit_Price             0
Total_Price            0
Discount               0
Discount Percentage    0
Net Revenue            0
Profit                 0
dtype: int64

In [70]:
# Step 3: Standardizing Categorical Data
df['Country'] = df['Country'].str.upper()

In [71]:
print("\nCleaned and Transformed Dataset:")
print(df.head())

Cleaned and Transformed Dataset:
        Date  Day     Month  Year  Customer_Age Customer_Gender    Country  \
0 2020-11-26   26  November  2020            19               M     CANADA
1 2022-11-26   26  November  2022            19               M     CANADA
2 2021-03-23   23     March  2021            49               M  AUSTRALIA
3 2023-03-23   23     March  2023            49               M  AUSTRALIA
4 2021-05-15   15       May  2021            47               F  AUSTRALIA

              State Product_Category Sub_Category              Product  \
0  British Columbia      Accessories   Bike Racks  Hitch Rack - 4-Bike
1  British Columbia      Accessories   Bike Racks  Hitch Rack - 4-Bike
2   New South Wales      Accessories   Bike Racks  Hitch Rack - 4-Bike
3   New South Wales      Accessories   Bike Racks  Hitch Rack - 4-Bike
4   New South Wales      Accessories   Bike Racks  Hitch Rack - 4-Bike

   Order_Quantity  Unit_Cost  Cost  Unit_Price  Total_Price  Discount  \
0               8         45   360         120          960        10
1               8         45   360         120          960        10
2              23         45  1035         120         2760       359
3              20         45   900         120         2400       312
4               4         45   180         120          480        62

   Discount Percentage  Net Revenue  Profit
0                 0.01          950     590
1                 0.01          950     590
2                 0.13         2401    1366
3                 0.13         2088    1188
4                 0.13          418     238

In [72]:
cleaned_file_path = r'C:\Users\raksh\OneDrive\Desktop\portfolio projects\Project#1 - Optimizing Sales Strategies\Sales Data.csv'
df.to_csv(cleaned_file_path, index=False)

In [73]:
df

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Cost,Unit_Price,Total_Price,Discount,Discount Percentage,Net Revenue,Profit
0,2020-11-26,26,November,2020,19,M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,360,120,960,10,0.01,950,590
1,2022-11-26,26,November,2022,19,M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,360,120,960,10,0.01,950,590
2,2021-03-23,23,March,2021,49,M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,1035,120,2760,359,0.13,2401,1366
3,2023-03-23,23,March,2023,49,M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,900,120,2400,312,0.13,2088,1188
4,2021-05-15,15,May,2021,47,F,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,180,120,480,62,0.13,418,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2023-04-12,12,April,2023,41,M,UNITED KINGDOM,England,Clothing,Vests,"Classic Vest, S",3,24,72,64,192,8,0.04,184,112
113032,2021-04-02,2,April,2021,18,M,AUSTRALIA,Queensland,Clothing,Vests,"Classic Vest, M",22,24,528,64,1408,225,0.16,1183,655
113033,2023-04-02,2,April,2023,18,M,AUSTRALIA,Queensland,Clothing,Vests,"Classic Vest, M",22,24,528,64,1408,225,0.16,1183,655
113034,2021-03-04,4,March,2021,37,F,FRANCE,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,576,64,1536,276,0.18,1260,684
113035,2023-03-04,4,March,2023,37,F,FRANCE,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,552,64,1472,265,0.18,1207,655

In [74]:
# Check for duplicates based on all columns
duplicate_rows = df[df.duplicated()]

In [75]:
# Display duplicate rows
print("Duplicate Rows:")
print(duplicate_rows)

Duplicate Rows:
             Date  Day      Month  Year  Customer_Age Customer_Gender  \
1021   2020-12-19   19   December  2020            22               M
1091   2022-09-30   30  September  2022            42               F
1093   2020-10-24   24    October  2020            42               F
1095   2022-10-24   24    October  2022            42               F
1193   2023-01-15   15    January  2023            42               M
...           ...  ...        ...   ...           ...             ...
111029 2021-02-18   18   February  2021            49               F
111031 2023-02-18   18   February  2023            49               F
111265 2021-04-27   27      April  2021            31               M
111953 2020-09-20   20  September  2020            42               M
111955 2022-09-20   20  September  2022            42               M

              Country              State Product_Category       Sub_Category  \
1021        AUSTRALIA    New South Wales      Accessories        Bike Stands
1091        AUSTRALIA           Victoria      Accessories  Bottles and Cages
1093        AUSTRALIA           Victoria      Accessories  Bottles and Cages
1095        AUSTRALIA           Victoria      Accessories  Bottles and Cages
1193           FRANCE  Seine Saint Denis      Accessories  Bottles and Cages
...               ...                ...              ...                ...
111029  UNITED STATES         California            Bikes      Touring Bikes
111031  UNITED STATES         California            Bikes      Touring Bikes
111265  UNITED STATES         Washington            Bikes      Touring Bikes
111953         CANADA   British Columbia            Bikes      Touring Bikes
111955         CANADA   British Columbia            Bikes      Touring Bikes

                        Product  Order_Quantity  Unit_Cost  Cost  Unit_Price  \
1021     All-Purpose Bike Stand               9         59   531         159
1091       Mountain Bottle Cage               5          4    20          10
1093       Mountain Bottle Cage               2          4     8          10
1095       Mountain Bottle Cage               1          4     4          10
1193      Water Bottle - 30 oz.              14          2    28           5
...                         ...             ...        ...   ...         ...
111029    Touring-1000 Blue, 60               1       1482  1482        2384
111031    Touring-1000 Blue, 60               1       1482  1482        2384
111265    Touring-1000 Blue, 50               1       1482  1482        2384
111953  Touring-3000 Yellow, 44               1        461   461         742
111955  Touring-3000 Yellow, 44               1        461   461         742

        Total_Price  Discount  Discount Percentage  Net Revenue  Profit
1021           1431       186                 0.13         1245     714
1091             50        10                 0.20           40      20
1093             20         4                 0.20           16       8
1095             10         2                 0.20            8       4
1193             70        13                 0.19           57      29
...             ...       ...                  ...          ...     ...
111029         2384        48                 0.02         2336     854
111031         2384        48                 0.02         2336     854
111265         2384       524                 0.22         1860     378
111953          742         7                 0.01          735     274
111955          742         7                 0.01          735     274

[1000 rows x 20 columns]

In [76]:
# number of duplicates
num_duplicates = df.duplicated().sum()
print(f"Number of Duplicates: {num_duplicates}")

Number of Duplicates: 1000

In [77]:
# Check for duplicates based on specific columns
specific_columns = ['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Customer_Gender', 'Country', 'State', 'Product_Category', 'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Cost', 'Unit_Price', 'Total_Price', 'Discount', 'Discount Percentage', 'Net Revenue', 'Profit']
duplicate_rows_specific = df[df.duplicated(subset=specific_columns)]

# Display duplicate rows based on specific columns
print("Duplicate Rows Based on Specific Columns:")
print(duplicate_rows_specific)

Duplicate Rows Based on Specific Columns:
             Date  Day      Month  Year  Customer_Age Customer_Gender  \
1021   2020-12-19   19   December  2020            22               M
1091   2022-09-30   30  September  2022            42               F
1093   2020-10-24   24    October  2020            42               F
1095   2022-10-24   24    October  2022            42               F
1193   2023-01-15   15    January  2023            42               M
...           ...  ...        ...   ...           ...             ...
111029 2021-02-18   18   February  2021            49               F
111031 2023-02-18   18   February  2023            49               F
111265 2021-04-27   27      April  2021            31               M
111953 2020-09-20   20  September  2020            42               M
111955 2022-09-20   20  September  2022            42               M

              Country              State Product_Category       Sub_Category  \
1021        AUSTRALIA    New South Wales      Accessories        Bike Stands
1091        AUSTRALIA           Victoria      Accessories  Bottles and Cages
1093        AUSTRALIA           Victoria      Accessories  Bottles and Cages
1095        AUSTRALIA           Victoria      Accessories  Bottles and Cages
1193           FRANCE  Seine Saint Denis      Accessories  Bottles and Cages
...               ...                ...              ...                ...
111029  UNITED STATES         California            Bikes      Touring Bikes
111031  UNITED STATES         California            Bikes      Touring Bikes
111265  UNITED STATES         Washington            Bikes      Touring Bikes
111953         CANADA   British Columbia            Bikes      Touring Bikes
111955         CANADA   British Columbia            Bikes      Touring Bikes

                        Product  Order_Quantity  Unit_Cost  Cost  Unit_Price  \
1021     All-Purpose Bike Stand               9         59   531         159
1091       Mountain Bottle Cage               5          4    20          10
1093       Mountain Bottle Cage               2          4     8          10
1095       Mountain Bottle Cage               1          4     4          10
1193      Water Bottle - 30 oz.              14          2    28           5
...                         ...             ...        ...   ...         ...
111029    Touring-1000 Blue, 60               1       1482  1482        2384
111031    Touring-1000 Blue, 60               1       1482  1482        2384
111265    Touring-1000 Blue, 50               1       1482  1482        2384
111953  Touring-3000 Yellow, 44               1        461   461         742
111955  Touring-3000 Yellow, 44               1        461   461         742

        Total_Price  Discount  Discount Percentage  Net Revenue  Profit
1021           1431       186                 0.13         1245     714
1091             50        10                 0.20           40      20
1093             20         4                 0.20           16       8
1095             10         2                 0.20            8       4
1193             70        13                 0.19           57      29
...             ...       ...                  ...          ...     ...
111029         2384        48                 0.02         2336     854
111031         2384        48                 0.02         2336     854
111265         2384       524                 0.22         1860     378
111953          742         7                 0.01          735     274
111955          742         7                 0.01          735     274

[1000 rows x 20 columns]

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 113036 non-null  datetime64[ns]
 1   Day                  113036 non-null  int64
 2   Month                113036 non-null  category
 3   Year                 113036 non-null  int64
 4   Customer_Age         113036 non-null  int64
 5   Customer_Gender      113036 non-null  category
 6   Country              113036 non-null  object
 7   State                113036 non-null  category
 8   Product_Category     113036 non-null  category
 9   Sub_Category         113036 non-null  category
 10  Product              113036 non-null  category
 11  Order_Quantity       113036 non-null  int64
 12  Unit_Cost            113036 non-null  int64
 13  Cost                 113036 non-null  int64
 14  Unit_Price           113036 non-null  int64
 15  Total_Price          113036 non-null  int64
 16  Discount             113036 non-null  int64
 17  Discount Percentage  113036 non-null  float64
 18  Net Revenue          113036 non-null  int64
 19  Profit               113036 non-null  int64
dtypes: category(6), datetime64[ns](1), float64(1), int64(11), object(1)
memory usage: 12.8+ MB

In [99]:
m1=df.duplicated(subset=['Date','Day','Month','Year','Customer_Age','Customer_Gender','Country','State','Product_Category','Sub_Category','Product','Order_Quantity','Unit_Cost','Cost','Unit_Price','Total_Price','Discount','Discount Percentage','Net Revenue','Profit'],keep=False)
m1

0         False
1         False
2         False
3         False
4         False
          ...
113031    False
113032    False
113033    False
113034    False
113035    False
Length: 113036, dtype: bool

In [100]:
df[m1]

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Cost,Unit_Price,Total_Price,Discount,Discount Percentage,Net Revenue,Profit
1020,2020-12-19,19,December,2020,22,M,AUSTRALIA,New South Wales,Accessories,Bike Stands,All-Purpose Bike Stand,9,59,531,159,1431,186,0.13,1245,714
1021,2020-12-19,19,December,2020,22,M,AUSTRALIA,New South Wales,Accessories,Bike Stands,All-Purpose Bike Stand,9,59,531,159,1431,186,0.13,1245,714
1090,2022-09-30,30,September,2022,42,F,AUSTRALIA,Victoria,Accessories,Bottles and Cages,Mountain Bottle Cage,5,4,20,10,50,10,0.20,40,20
1091,2022-09-30,30,September,2022,42,F,AUSTRALIA,Victoria,Accessories,Bottles and Cages,Mountain Bottle Cage,5,4,20,10,50,10,0.20,40,20
1092,2020-10-24,24,October,2020,42,F,AUSTRALIA,Victoria,Accessories,Bottles and Cages,Mountain Bottle Cage,2,4,8,10,20,4,0.20,16,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111265,2021-04-27,27,April,2021,31,M,UNITED STATES,Washington,Bikes,Touring Bikes,"Touring-1000 Blue, 50",1,1482,1482,2384,2384,524,0.22,1860,378
111952,2020-09-20,20,September,2020,42,M,CANADA,British Columbia,Bikes,Touring Bikes,"Touring-3000 Yellow, 44",1,461,461,742,742,7,0.01,735,274
111953,2020-09-20,20,September,2020,42,M,CANADA,British Columbia,Bikes,Touring Bikes,"Touring-3000 Yellow, 44",1,461,461,742,742,7,0.01,735,274
111954,2022-09-20,20,September,2022,42,M,CANADA,British Columbia,Bikes,Touring Bikes,"Touring-3000 Yellow, 44",1,461,461,742,742,7,0.01,735,274
111955,2022-09-20,20,September,2022,42,M,CANADA,British Columbia,Bikes,Touring Bikes,"Touring-3000 Yellow, 44",1,461,461,742,742,7,0.01,735,274

In [102]:
#Treating Duplicates
df.drop_duplicates(subset=['Date','Day','Month','Year','Customer_Age','Customer_Gender','Country','State','Product_Category','Sub_Category','Product','Order_Quantity','Unit_Cost','Cost','Unit_Price','Total_Price','Discount','Discount Percentage','Net Revenue','Profit'],ignore_index=True, inplace=True)
df

,Date,Day,Month,Year,Customer_Age,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Cost,Unit_Price,Total_Price,Discount,Discount Percentage,Net Revenue,Profit
0,2020-11-26,26,November,2020,19,M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,360,120,960,10,0.01,950,590
1,2022-11-26,26,November,2022,19,M,CANADA,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,360,120,960,10,0.01,950,590
2,2021-03-23,23,March,2021,49,M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,1035,120,2760,359,0.13,2401,1366
3,2023-03-23,23,March,2023,49,M,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,900,120,2400,312,0.13,2088,1188
4,2021-05-15,15,May,2021,47,F,AUSTRALIA,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,180,120,480,62,0.13,418,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112031,2023-04-12,12,April,2023,41,M,UNITED KINGDOM,England,Clothing,Vests,"Classic Vest, S",3,24,72,64,192,8,0.04,184,112
112032,2021-04-02,2,April,2021,18,M,AUSTRALIA,Queensland,Clothing,Vests,"Classic Vest, M",22,24,528,64,1408,225,0.16,1183,655
112033,2023-04-02,2,April,2023,18,M,AUSTRALIA,Queensland,Clothing,Vests,"Classic Vest, M",22,24,528,64,1408,225,0.16,1183,655
112034,2021-03-04,4,March,2021,37,F,FRANCE,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,576,64,1536,276,0.18,1260,684
112035,2023-03-04,4,March,2023,37,F,FRANCE,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,552,64,1472,265,0.18,1207,655

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112036 entries, 0 to 112035
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 112036 non-null  datetime64[ns]
 1   Day                  112036 non-null  int64
 2   Month                112036 non-null  category
 3   Year                 112036 non-null  int64
 4   Customer_Age         112036 non-null  int64
 5   Customer_Gender      112036 non-null  category
 6   Country              112036 non-null  object
 7   State                112036 non-null  category
 8   Product_Category     112036 non-null  category
 9   Sub_Category         112036 non-null  category
 10  Product              112036 non-null  category
 11  Order_Quantity       112036 non-null  int64
 12  Unit_Cost            112036 non-null  int64
 13  Cost                 112036 non-null  int64
 14  Unit_Price           112036 non-null  int64
 15  Total_Price          112036 non-null  int64
 16  Discount             112036 non-null  int64
 17  Discount Percentage  112036 non-null  float64
 18  Net Revenue          112036 non-null  int64
 19  Profit               112036 non-null  int64
dtypes: category(6), datetime64[ns](1), float64(1), int64(11), object(1)
memory usage: 12.7+ MB

In [ ]:
cleaned_file_path = r'C:\Users\raksh\OneDrive\Desktop\portfolio projects\Project#1 - Optimizing Sales Strategies\Sales Data.csv'
df.to_csv(cleaned_file_path)

#### Next Step Is EDA please refer to ED_Analysis.ipynb